/* EditTest.css */

/* Container styles */
/* .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

/* Button styles */
/* button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button {
  background-color: #007bff;
  color: #fff;
}

.save-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  margin-left: auto;
  /* Align to the right */
/* display: block; */
/* Make the buttons display as block elements */
/* } */
/*
.delete-button:hover {
  background-color: #bd2130;
}

.add-button {
  background-color: #28a745;
  color: #fff;
  margin-left: auto;
  /* Align to the right */
/* display: block; */
/* Make the buttons display as block elements */
/* } */
/* 
.add-button:hover {
  background-color: #218838;
} */

/* ----------------------------------------------------------------------- */

/* EditTestStyles.css */

.edit-test-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-test-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.edit-test-container form {
  margin-bottom: 30px;
}

.edit-test-container label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.edit-test-container input[type="text"],
.edit-test-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-test-container textarea {
  resize: vertical;
}

.edit-test-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-test-container button.save-button {
  background-color: #2196f3;
}

.edit-test-container button.delete-button {
  background-color: #f44336;
}

.edit-test-container button.add-button {
  background-color: #ffc107;
}

.edit-test-container button:hover {
  background-color: #45a049;
}

.edit-test-container ul {
  list-style-type: none;
  padding: 0;
}

.edit-test-container ul li {
  margin-bottom: 10px;
}

.edit-test-container ul li span {
  color: #666;
}

.edit-test-container ul li button,
.edit-test-container ul li span {
  margin-left: 10px;
}
