/* EditTest.css */

/* Container styles */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

/* Button styles */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button {
  background-color: #007bff;
  color: #fff;
}

.save-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  margin-left: auto;
  /* Align to the right */
  display: block;
  /* Make the buttons display as block elements */
}

.delete-button:hover {
  background-color: #bd2130;
}

.add-button {
  background-color: #28a745;
  color: #fff;
  margin-left: auto;
  /* Align to the right */
  display: block;
  /* Make the buttons display as block elements */
}

.add-button:hover {
  background-color: #218838;
}
