/* .add-participants-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-participants-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.add-participants-container .form-group {
  margin-bottom: 20px;
}

.add-participants-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-participants-container input[type="email"],
.add-participants-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-participants-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-participants-container button:hover {
  background-color: #0056b3;
} */
/* ------------------------------------------------------------------- */
/* css new  */
/* ManageParticipantsStyles.css */

.manage-participants-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.manage-participants-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.manage-participants-container .error-message {
  color: #ff0000;
  margin-bottom: 10px;
}

.manage-participants-container .form-group {
  margin-bottom: 20px;
}

.manage-participants-container .form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.manage-participants-container .form-group input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.manage-participants-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.manage-participants-container button:hover {
  background-color: #45a049;
}

.manage-participants-container .participants-list h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.manage-participants-container .participants-list ul {
  list-style-type: none;
  padding: 0;
}

.manage-participants-container .participants-list ul li {
  margin-bottom: 10px;
}

.manage-participants-container .participants-list ul li button {
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.manage-participants-container .participants-list ul li button:hover {
  background-color: #e53935;
}
